@use "@/styles/mixin/mixins" as *;

.button-login {
  display: grid;
  width: 100%;
  padding: 1.8rem 2.4rem;
  font-size: text(24);
}

.button-login.button-login--register {
  background-color: var(--new);
}
.button-login.button-login--login {
  background-color: var(--active);
}
.button-login.button-login--back {
  padding: 1rem 1.6rem;
  font-size: text(16);
  border: 0.1rem solid var(--black);
}
.button-login.button-login--google {
  border: 0.1rem solid var(--black);
}

.button-login__char--google:nth-child(1) {
  color: #4684ea;
}
.button-login__char--google:nth-child(2) {
  color: #d73335;
}
.button-login__char--google:nth-child(3) {
  color: #f2c10d;
}
.button-login__char--google:nth-child(4) {
  color: #4684ea;
}
.button-login__char--google:nth-child(5) {
  color: #3bb753;
}
.button-login__char--google:nth-child(6) {
  color: #d73335;
}

@media (hover: hover) and (pointer: fine) {
  .button-login.button-login--login:hover {
    background-color: var(--active);
    filter: url(#color-change-filter-3);
  }
  .button-login.button-login--register:hover {
    background-color: var(--new);
    filter: url(#color-change-filter-3);
  }
  .button-login.button-login--google:hover {
    background-color: var(--active);
    filter: url(#color-change-filter-3);
  }
}

@include mq(sp) {
  .button-login {
    display: grid;
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: text(14);
  }

  .button-login--google {
    border: 0.1rem solid var(--black);
  }
}
