@use "@/styles/mixin/mixins" as *;

.text-loop {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  top: 0;
  left: 0;
}

.text-loop__col {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  column-gap: 2.4rem;
  animation: text-loop 30s linear infinite;
}

.text-loop__text {
  padding: 2.4rem;
  width: fit-content;
  font-size: text(24);
  line-height: 1.5;
  letter-spacing: 0.15em;
  white-space: nowrap;
}

.text-loop__text .text-loop__text--en {
  letter-spacing: 0.1em;
}

@include mq(sp) {
  .text-loop {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    top: 0;
    left: 0;
  }

  .text-loop__col {
    width: fit-content;
    display: grid;
    grid-auto-flow: row;
    column-gap: 0;
    row-gap: 0.2rem;
    animation: text-loop 8s linear infinite;
  }

  .text-loop__text {
    padding: 0.8rem;
    width: fit-content;
    font-size: text(14);
    line-height: 1.5;
    letter-spacing: 0.15em;
    white-space: nowrap;
  }

  .text-loop__text .text-loop__text--en {
    letter-spacing: 0.1em;
  }
}
