@use "@/styles/mixin/mixins" as *;

.top {
  height: 100svh;
  overflow: hidden auto;
  position: relative;
  width: 100%;
  z-index: 0;
}

.top__inner {
  place-content: center center;
  display: grid;
  height: 100%;
  width: 100%;
}

.top__buttons {
  column-gap: cols(3);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.top__text-loop {
  margin-top: 5rem;
  position: relative;
  width: 100vw;
  z-index: 0;
}

.top__marquee {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.top__attention {
  position: fixed;
  font-size: text(24);
  z-index: 1;
  bottom: 10rem;
  left: calc(var(--col) * 1 + var(--gap) * 1 + var(--margin) * 1);
  width: cols(12);
  font-weight: 500;
  padding: 1rem;
  background-color: #e1e1e180;
}

@include mq(sp) {
  .top {
    height: 100svh;
    overflow: hidden auto;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .top__inner {
    place-content: center center;
    display: grid;
    height: 100%;
    width: 100%;
  }

  .top__buttons {
    gap: 3.2rem 0;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }

  .top__text-loop {
    display: none;
    margin-top: 3.2rem;
    position: relative;
    width: 100vw;
    z-index: 0;
  }

  .top__marquee {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .top__attention {
    position: fixed;
    font-size: 1.2rem;
    z-index: 1;
    bottom: 1rem;
    left: calc(var(--col) * 1 + var(--gap) * 1 + var(--margin) * 1);
    width: cols(6);
    font-weight: 500;
    padding: 1rem;
    background-color: #e1e1e180;
    pointer-events: none;
  }
}
