@use "@/styles/mixin/mixins" as *;

.button-top {
  place-items: center center;
  cursor: pointer;
  display: grid;
  min-width: cols(6);
  padding-block: 2.4rem;
  padding-inline: 2.4rem;
  position: relative;
  width: fit-content;
  z-index: 0;
}

.button-top__text {
  font-size: text(48);
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 1;
}

.button-top__frames {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.button-top__frame {
  height: 3.1rem;
  position: absolute;
  width: 3.5rem;
  z-index: 2;
}

.button-top__frame img {
  object-fit: contain;
}

.button-top__frame:nth-child(1) {
  left: 0;
  top: 0;
}

.button-top__frame:nth-child(2) {
  right: 0;
  top: 0;
}

.button-top__frame:nth-child(3) {
  bottom: 0;
  left: 0;
}

.button-top__frame:nth-child(4) {
  bottom: 0;
  right: 0;
}

@media (hover: hover) and (pointer: fine) {
  .button-top .button-top__frame {
    opacity: 0;
    transition:
      opacity 0.2s,
      translate 0.333s;

    --offset: 1;
  }

  .button-top__frame:nth-child(1) {
    translate: calc(-1rem * var(--offset)) calc(-1rem * var(--offset));
  }

  .button-top__frame:nth-child(2) {
    translate: calc(1rem * var(--offset)) calc(-1rem * var(--offset));
  }

  .button-top__frame:nth-child(3) {
    translate: calc(-1rem * var(--offset)) calc(1rem * var(--offset));
  }

  .button-top__frame:nth-child(4) {
    translate: calc(1rem * var(--offset)) calc(1rem * var(--offset));
  }

  .button-top:hover .button-top__frame {
    --offset: 0;

    animation-duration: 0.01s;
    animation-iteration-count: infinite;
    animation-name:blink;
    opacity: 1;
  }
}

@include mq(sp) {
  .button-top {
    place-items: center center;
    display: grid;
    min-width: cols(6);
    padding-block: 2.4rem;
    padding-inline: 2.4rem;
    position: relative;
    width: fit-content;
    z-index: 0;
  }

  .button-top__text {
    font-size: text(24);
    font-weight: 500;
    letter-spacing: 0.005em;
    line-height: 1;
  }

  .button-top__frames {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .button-top__frame {
    height: 3.2rem;
    position: absolute;
    width: 3.6rem;
    z-index: 2;
  }

  .button-top__frame img {
    object-fit: contain;
  }

  .button-top__frame:nth-child(1) {
    left: 0;
    top: 0;
  }

  .button-top__frame:nth-child(2) {
    right: 0;
    top: 0;
  }

  .button-top__frame:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  .button-top__frame:nth-child(4) {
    bottom: 0;
    right: 0;
  }
}
