@use "@/styles/mixin/mixins" as *;

.measure {
  display: grid;
  left: 3rem;
  position: absolute;
  top: 50%;
  translate: 0% -50%;
  width: fit-content;
  z-index: var(--z-index-measure);
}

.measure__image {
  height: 59.7rem;
  width: 6rem;
}

.measure__line {
  transition-duration: 0.2s;
  transition-property: scale;
}

.measure__line--prev {
  scale: 1.5 1;
}

.measure__line--active {
  scale: 2 1;
}

.measure__line--next {
  scale: 1.5 1;
}

@include mq(sp) {
  .measure {
    display: none;
    left: 3rem;
    position: absolute;
    top: 50%;
    translate: 0% -50%;

    // display: grid;
    width: fit-content;
    z-index: var(--z-index-measure);
  }

  .measure__image {
    height: 59.7rem;
    width: 3rem;
  }
}
