@use "@/styles/mixin/mixins" as *;

.marquee {
  display: grid;
  grid-template-columns: repeat(6, auto);
  left: 0;
  position: absolute;
  scale: 0 1;
  top: 0;
  transform-origin: right;
  transition-duration: 1.5s;
  transition-property: scale;
}

.marquee--green {
  background-color: var(--active);
}

.marquee--red {
  background-color: var(--danger);
}

.marquee--1 {
  left: calc(50% - 10rem);
  rotate: -32deg;
  top: calc(50% - 190rem);
  translate: -50% -50%;
  z-index: 4;
}

.marquee--2 {
  left: calc(50% - 10rem);
  rotate: -10deg;
  top: calc(50% - 76rem);
  translate: -50% -50%;
  z-index: 3;
}

.marquee--3 {
  left: calc(50% + 30rem);
  rotate: -32deg;
  top: calc(50% - 111rem);
  translate: -50% -50%;
  z-index: 2;
}

.marquee--4 {
  left: calc(50% + 30rem);
  rotate: -5deg;
  top: calc(50% + 18rem);
  translate: -50% -50%;
  z-index: 1;
}

.marquee--is-show {
  scale: 1 1;
}

.marquee__inner {
  align-items: center;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: marquee;
  animation-timing-function: linear;
  column-gap: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  padding-right: 2.4rem;
}

.marquee__text {
  font-size: 4.8rem;
  font-weight: 500;
}

.marquee__icon {
  display: grid;
}

.marquee__icon svg {
  height: 9rem;
  width: 9rem;
}

.marquee__decoration {
  display: grid;
}

.marquee__decoration svg {
  height: 6rem;
  width: 24rem;
}

@include mq(sp) {
  .marquee {
    display: grid;
    grid-template-columns: repeat(6, auto);
    left: 0;
    position: absolute;
    scale: 0 1;
    top: 0;
    transform-origin: right;
    transition-duration: 1.5s;
    transition-property: scale;
  }

  .marquee--green {
    background-color: var(--active);
  }

  .marquee--red {
    background-color: var(--danger);
  }

  .marquee--1 {
    left: calc(50% + 29rem);
    rotate: -24deg;
    top: calc(50% - 90rem);
    translate: -50% -50%;
    z-index: 4;
  }

  .marquee--2 {
    left: calc(50% + 30rem);
    rotate: -10deg;
    top: calc(50% - 53rem);
    translate: -50% -50%;
    z-index: 3;
  }

  .marquee--3 {
    left: calc(50% + 30rem);
    rotate: -24deg;
    top: calc(50% - 42rem);
    translate: -50% -50%;
    z-index: 2;
  }

  .marquee--4 {
    left: calc(50% + 30rem);
    rotate: -5deg;
    top: calc(50% + 13rem);
    translate: -50% -50%;
    z-index: 1;
  }

  .marquee--is-show {
    scale: 1 1;
  }

  .marquee__inner {
    align-items: center;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: marquee;
    animation-timing-function: linear;
    column-gap: 0.4rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    padding-right: 1.4rem;
  }

  .marquee__text {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .marquee__icon {
    display: grid;
  }

  .marquee__icon svg {
    height: 4.4rem;
    width: 4.4rem;
  }

  .marquee__decoration {
    display: grid;
  }

  .marquee__decoration svg {
    height: 3rem;
    width: 12rem;
  }
}
