@use "@/styles/mixin/mixins" as *;

.button-submit {
  display: grid;
  font-size: text(24);
  padding: 1rem 1.6rem;
  width: 100%;
}

.button-submit.button-submit--register {
  background-color: var(--new);
}

.button-submit.button-submit--login {
  background-color: var(--active);
}

.button-submit.button-submit--back {
  border: 0.1rem solid var(--black);
  font-size: text(16);
  padding: 0.8rem 1.2rem;
}

.button-submit.button-submit--google {
  border: 0.1rem solid var(--black);
}

.button-submit__char--google:nth-child(1) {
  color: #4684ea;
}

.button-submit__char--google:nth-child(2) {
  color: #d73335;
}

.button-submit__char--google:nth-child(3) {
  color: #f2c10d;
}

.button-submit__char--google:nth-child(4) {
  color: #4684ea;
}

.button-submit__char--google:nth-child(5) {
  color: #3bb753;
}

.button-submit__char--google:nth-child(6) {
  color: #d73335;
}

.button-submit.button-submit--disabled {
  background-color: var(--white);
  color: var(--inactive);
  border: 0.1rem solid var(--inactive);
}

@media (hover: hover) and (pointer: fine) {
  .button-submit.button-submit--login:hover {
    background-color: var(--active);
    filter: url("#color-change-filter-3");
  }

  .button-submit.button-submit--register:hover {
    background-color: var(--new);
    filter: url("#color-change-filter-3");
  }

  .button-submit.button-submit--google:hover {
    background-color: var(--active);
    filter: url("#color-change-filter-3");
  }

  .button-submit.button-submit--disabled:hover {
    background-color: var(--white);
    color: var(--inactive);
    border: 0.1rem solid var(--inactive);
  }
}

@include mq(sp) {
  .button-submit {
    display: grid;
    font-size: text(14);
    padding: 1rem 1.4rem;
    width: 100%;
  }

  .button-submit--google {
    border: 0.1rem solid var(--black);
  }
}
