@use "@/styles/mixin/mixins" as *;

.button-confirm {
  width: cols(3);
  padding: 0.8rem 2.4rem;
  border: 0.1rem solid var(--black);
  font-size: text(16);
}

.button-confirm--yes {
  background-color: var(--active);
  border-color: var(--active);
}

@include mq(sp) {
  .button-confirm {
    width: calc(var(--col) * 6 + var(--gap) * 7);
    padding: 0.8rem 2.4rem;
    border: 0.1rem solid var(--black);
    font-size: text(16);
  }

  .button-confirm--yes {
    background-color: var(--active);
    border-color: var(--active);
  }

  .button-confirm--yes {
    grid-area: yes;
  }
  .button-confirm--no {
    grid-area: no;
  }
}
