@use "@/styles/mixin/mixins" as *;

.button-pagination {
  display: grid;
}

.button-pagination.button-pagination--disabled {
  opacity: 0.05;
  pointer-events: none;
}

.button-pagination--left {
}

.button-pagination--right {
}

.button-pagination svg {
  height: 1.7rem;
  width: 3rem;
}
