@use "@/styles/mixin/mixins" as *;

.loading-icon {
  background-color: var(--white);
  display: grid;
  left: 50%;
  place-items: center;
  position: fixed;
  top: 50%;
  translate: -50% -50%;
  z-index: var(--z-index-loading);
}

.loading-icon__inner {
  --width: 41.84rem;
  --height: 3.775rem;

  position: relative;
}

.loading-icon__frame {
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
  position: relative;
  width: calc(var(--width));

  // animation-name: blink;
  // animation-fill-mode: forwards;
  // animation-iteration-count: infinite;
  // animation-duration: 0.001s;
}

.loading-icon__bar {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loading-animation;
  animation-timing-function: linear;
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
  width: calc(var(--width) * 2);
}

.loading-icon__bar svg {
  height: calc(var(--height));
  width: calc(var(--width));
}

@include mq(sp) {
  .loading {
    background-color: var(--white);
    display: grid;
    inset: 0;
    place-items: center;
    position: fixed;
    z-index: var(--z-index-loading);
  }

  .loading-icon__inner {
    --width: calc(41.84rem / 2);
    --height: calc(3.775rem / 2);

    position: relative;
  }

  .loading-icon__frame {
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    position: relative;
    width: calc(var(--width));
  }

  .loading-icon__bar {
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loading-animation;
    animation-timing-function: linear;
    display: grid;
    overflow: hidden;
    width: calc(var(--width) * 2);
  }

  .loading-icon__bar svg {
    height: var(--height);
    width: calc(var(--width));
  }
}
