@use "@/styles/mixin/mixins" as *;

.button-editor {
  cursor: pointer;
  display: grid;
  transition: 0.2s;
}

.button-editor__icon {
  --size: 6.4rem;

  height: var(--size);
  width: var(--size);
}

#button__frame,
#button__arrow {
  transition: 0.2s;
}

.button-editor--is-disabled {
  opacity: 0.2;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .button-editor:hover {
  }

  .button-editor:hover .button-editor__icon {
  }

  .button-editor:active {
    translate: 0 0.2rem;
  }

  .button-editor:nth-child(2):active {
    translate: 0 0.2rem;
  }

  .button-editor.button-editor--left:hover #button__frame {
    // fill: var(--black);
  }

  .button-editor.button-editor--left:hover #button__frame {
    // fill: var(--black);
  }

  .button-editor.button-editor--left:hover #button__arrow {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: arrow-move-left;
  }

  .button-editor.button-editor--right:hover #button__arrow {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: arrow-move-right;
  }

  .button-editor--is-disabled:hover {
    cursor: auto;
  }

  .button-editor--is-disabled:hover #button__arrow {
    // fill: var(--black);
  }

  .button-editor--is-disabled:hover #button__frame {
    // fill: none;
  }
}

@include mq(sp) {
  .button-editor {
    display: grid;
  }

  .button-editor:active {
    translate: 0 0.2rem;
  }

  .button-editor:nth-child(2):active {
    translate: 0 0.2rem;
  }

  .button-editor__icon {
    --size: 3.1rem;

    height: var(--size);
    width: var(--size);
  }
}
