@use "@/styles/mixin/mixins" as *;

.button-editor {
  display: grid;

  transition: 0.2s;

  cursor: pointer;
}

.button-editor__icon {
  --size: 6.4rem;
  width: var(--size);
  height: var(--size);
}

#button__frame,
#button__arrow {
  transition: 0.2s;
}

.button-editor--is-disabled {
  opacity: 0.2;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .button-editor:hover {
  }
  .button-editor:hover .button-editor__icon {
  }

  .button-editor:active {
    translate: 0rem 0.2rem;
  }
  .button-editor:nth-child(2):active {
    translate: 0rem 0.2rem;
  }

  .button-editor:hover #button__frame {
    fill: var(--black);
  }
  .button-editor:hover #button__arrow {
    fill: var(--white);
  }
  .button-editor--is-disabled:hover {
    cursor: auto;
  }
  .button-editor--is-disabled:hover #button__arrow {
    fill: var(--black);
  }
  .button-editor--is-disabled:hover #button__frame {
    fill: none;
  }
}

@include mq(sp) {
  .button-editor {
    display: grid;
  }

  .button-editor:active {
    translate: 0rem 0.2rem;
  }
  .button-editor:nth-child(2):active {
    translate: 0rem 0.2rem;
  }

  .button-editor__icon {
    --size: 3.1rem;
    width: var(--size);
    height: var(--size);
  }
}
