@use "@/styles/mixin/mixins" as *;

.window-user {
  background-color: var(--white);
  border: 0.2rem var(--black) solid;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transition: 0.2s;
  translate: -50% -50%;
  width: cols(10);
  z-index: var(--z-index-user);
}

.window-user.window-user--is-open {
  opacity: 1;
  pointer-events: auto;
}

.window-user__inner {
  display: grid;
  padding-block: 8rem;
  padding-inline: calc(var(--col) * 1);
  position: relative;
  row-gap: 8rem;
  z-index: 0;
}

.window-user__corner {
  display: grid;
  left: 0.8rem;
  position: absolute;
  top: 0.8rem;
  z-index: -1;
}

.window-user__corner svg {
  height: 4rem;
  width: 4rem;
}

.window-user__close {
  cursor: pointer;
  display: grid;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  z-index: 1;
}

.window-user__close svg {
  height: 3.2rem;
  width: 3.2rem;
}

@include mq(sp) {
  .window-user {
    background-color: var(--white);
    border: 0.2rem var(--black) solid;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    transition: 0.2s;
    translate: -50% -50%;
    width: cols(8);
    z-index: var(--z-index-user);
  }

  .window-user.window-user--is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .window-user__inner {
    display: grid;
    padding-block: 6rem;
    padding-inline: calc(var(--col) * 1);
    position: relative;
    row-gap: 5rem;
    z-index: 0;
  }

  .window-user__corner {
    display: grid;
    left: 0.4rem;
    position: absolute;
    top: 0.4rem;
    z-index: -1;
  }

  .window-user__corner svg {
    height: 1.4rem;
    width: 1.4rem;
  }

  .window-user__close {
    cursor: pointer;
    display: grid;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 1;
  }

  .window-user__close svg {
    height: 2rem;
    width: 2rem;
  }
}
