@use "@/styles/mixin/mixins" as *;

.button-archive {
  cursor: pointer;
  display: grid;
  font-size: text(14);

  // background-color: var(--danger);
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

.button-archive--editting {
  display: grid;
  opacity: 1;
  padding: 0.3rem;
  pointer-events: none;
}

.button-archive--editting svg {
  height: 2.4rem;
  width: 2.4rem;
}

@include mq(sp) {
  .button-archive {
    cursor: pointer;
    display: grid;
    font-size: text(14);

    // background-color: var(--danger);
    pointer-events: auto;
    position: relative;
    z-index: 10;
  }

  .button-archive--editting {
    display: grid;
    opacity: 1;
    padding: 0.3rem;
    pointer-events: none;
  }

  .button-archive--editting svg {
    height: 1.6rem;
    width: 1.6rem;
  }
}
