@use "@/styles/mixin/mixins" as *;

.button-userinfo {
  background-color: var(--danger);
  font-size: text(24);
  font-weight: 500;
  padding: 1.8rem 2.4rem;
}

@include mq(sp) {
  .button-userinfo {
    background-color: var(--danger);
    font-size: text(14);
    font-weight: 500;
    padding: 1.4rem;
  }
}
