@use "@/styles/mixin/mixins" as *;

.color-picker {
  --z-color-picker: 0;
  --z-color-picker__inner: 10;
  --z-color-picker__corner: 1;
  --z-color-picker__button: 15;
  --z-color-picker__marquee: 0;

  background-color: var(--ui-background);
  height: 100svh;
  pointer-events: auto;
  position: absolute;
  right: 0;
  transition-duration: 0.2s;
  transition-property: translate;
  translate: 100% 0;
  width: calc(var(--col) * 9 + var(--gap) * 8 + calc(var(--margin) * 1));
  z-index: var(--z-color-picker);
}

.color-picker--is-open {
  translate: 0 0;
}

.color-picker__toggle {
  cursor: pointer;
  left: 0;
  position: absolute;
  rotate: -90deg;
  top: 50%;
  translate: -4rem -50%;
  user-select: none;
  z-index: var(--z-color-picker__button);
}

.color-picker__inner {
  align-content: center;
  display: grid;
  height: 100svh;
  margin-inline: auto;
  position: relative;
  row-gap: 3.2rem;
  width: cols(7);
  z-index: var(--z-color-picker__inner);
}

.color-picker__library {
  display: grid;
  row-gap: 3.2rem;
}

.color-picker__element-selector {
  pointer-events: auto;
}

.color-picker__palette {
  pointer-events: auto;
  width: 5rem;
}

.w-color-saturation {
  height: 25rem !important;
  width: cols(7) !important;
}

.w-color-alpha {
  height: 2rem !important;
  width: cols(7) !important;
}

.color-picker__button {
  display: grid;
  justify-items: end;
}

.color-picker__corner {
  display: grid;
  left: 0.8rem;
  position: absolute;
  top: 0.8rem;
  z-index: var(--z-color-picker__corner);
}

.color-picker__corner svg {
  height: 4rem;
  width: 4rem;
}

.color-picker__marquee {
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: var(--z-color-picker__marquee);
}

.color-picker-overlay {
  inset: 0;
  position: fixed;
  z-index: -1;
}

.color-picker-overlay--is-open {
  background-color: transparent;
  pointer-events: auto;
}

@include mq(sp) {
  .color-picker {
    --z-color-picker: 0;
    --z-color-picker__inner: 10;
    --z-color-picker__corner: 1;
    --z-color-picker__button: 5;
    --z-color-picker__marquee: 0;

    background-color: var(--ui-background);
    bottom: 0;
    height: auto;
    min-height: 20rem;
    pointer-events: auto;
    position: fixed;
    right: auto;
    transition-duration: 0.2s;
    transition-property: translate;
    translate: 100% 0;
    width: 100%;
    z-index: var(--z-color-picker);
  }

  .color-picker--is-open {
    translate: 0 0;
  }

  .color-picker__toggle {
    cursor: pointer;
    left: 0;
    position: absolute;
    rotate: -90deg;
    top: 50%;
    translate: -2rem -50%;
    user-select: none;
    z-index: var(--z-color-picker__button);
  }

  .color-picker__inner {
    align-content: center;
    display: grid;
    height: auto;
    margin-inline: 0;
    margin-left: calc(var(--col) * 1 + var(--margin) * 1 + calc(var(--gap) * 1));
    padding-block: 3.2rem;
    position: relative;
    row-gap: 2.4rem;
    width: cols(7);
    z-index: var(--z-color-picker__inner);
  }

  .color-picker__library {
    display: grid;
    row-gap: 1.4rem;
  }

  .color-picker__element-selector {
    pointer-events: auto;
  }

  .color-picker__palette {
    pointer-events: auto;
  }

  .w-color-colorful {
    width: fit-content !important;
    width: 100%;
  }

  .w-color-saturation {
    height: 15rem !important;
    width: cols(7) !important;
  }

  .w-color-alpha {
    height: 2rem !important;
    width: cols(7) !important;
  }

  .color-picker__corner {
    display: grid;
    left: 0.4rem;
    position: absolute;
    top: 0.4rem;
    z-index: var(--z-color-picker__corner);
  }

  .color-picker__corner svg {
    height: 1.4rem;
    width: 1.4rem;
  }

  .color-picker__marquee {
    inset: 0;
    overflow: hidden;
    position: absolute;
    z-index: var(--z-color-picker__marquee);
  }

  .color-picker-overlay {
    inset: 0;
    position: fixed;
    z-index: -1;
  }

  .color-picker-overlay--is-open {
    background-color: transparent;
    pointer-events: auto;
  }
}
