@use "@/styles/mixin/mixins" as *;

.toggle-element-picker {
  align-content: inherit;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  position: relative;
  width: cols(7);
  z-index: 0;
}

.toggle-element-picker__button {
  border-bottom: 0.1rem solid var(--black);
  border-left: 0.1rem solid var(--black);
  border-right: 0.1rem solid var(--black);
  border-top: 0.1rem solid var(--black);
  font-size: 1.6rem;
  padding: 0.4rem 0.8rem;
  width: cols(3.5);
}

.toggle-element-picker__button:nth-child(2) {
  border-left: none;
}

.toggle-element-picker__button--is-active {
  color: var(--black);
}

.toggle-element-picker__button--is-inactive {
  background-color: transparent;
}

.toggle-element-picker__glider {
  background-color: var(--active);
  height: 100%;
  position: absolute;
  transition: 0.2s;
  width: cols(3.5);
  z-index: -1;
}

.toggle-element-picker__button:nth-child(1).toggle-element-picker__button--is-active ~ .toggle-element-picker__glider {
  transform: translateX(0%);
}

.toggle-element-picker__button:nth-child(2).toggle-element-picker__button--is-active ~ .toggle-element-picker__glider {
  transform: translateX(100%);
}

@include mq(sp) {
  .toggle-element-picker {
    align-content: inherit;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    position: relative;
    width: cols(7);
    z-index: 0;
  }

  .toggle-element-picker__button {
    font-size: 1.4rem;
    padding: 0.2rem 0.4rem;
    width: cols(3.5);

    // color: var(--inactive);
  }

  .toggle-element-picker__button--is-active {
    color: var(--black);
  }

  .toggle-element-picker__button--is-inactive {
    background-color: transparent;
  }

  .toggle-element-picker__glider {
    background-color: var(--active);
    height: 100%;
    position: absolute;
    transition: 0.2s;
    width: cols(3.5);
    z-index: -1;
  }

  .toggle-element-picker__button:nth-child(1).toggle-element-picker__button--is-active
    ~ .toggle-element-picker__glider {
    transform: translateX(0%);
  }

  .toggle-element-picker__button:nth-child(2).toggle-element-picker__button--is-active
    ~ .toggle-element-picker__glider {
    transform: translateX(100%);
  }
}
