@use "@/styles/mixin/mixins" as *;

.icon-setting {
  --width: 7.2rem;
  --height: 8rem;
  --diagonal: 8rem;

  box-shadow: 0 0 0.1rem var(--black);

  place-content: center center;
  background-color: var(--white);
  background-image: linear-gradient(90deg, var(--black) 50%, transparent 50%);
  background-position: 100% 50%;
  background-size: 220%;
  border: 0.1rem solid var(--black);
  display: grid;
  height: var(--height);
  justify-items: center;
  row-gap: 0.4rem;
  transition: 0.2s;
  width: var(--width);
}

.icon-setting--disable {
  cursor: auto;
  pointer-events: none;
  position: relative;
  z-index: 0;
}

.icon-setting--disable::before {
  background-color: var(--black);
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  rotate: 48deg;
  top: calc(50% - 0.3rem);
  translate: -50% -50%;
  width: var(--diagonal);
}

.icon-setting--disable::after {
  background-color: var(--black);
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  rotate: -48deg;
  top: calc(50% - 0.3rem);
  translate: -50% -50%;
  width: var(--diagonal);
}

.icon-setting__icon {
  height: 4rem;
  width: 4rem;
}

.icon-setting__text {
  font-size: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .icon-setting:hover {
    background-image: linear-gradient(90deg, var(--black) 50%, transparent 50%);
    background-position: 0% 50%;
    background-size: 200%;
    cursor: pointer;
  }

  .icon-setting:hover .icon-setting__icon {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: rotation;
    animation-timing-function: linear;
  }

  .icon-setting:hover .icon-setting__text {
    color: var(--white);
  }

  .icon-setting:hover .icon-setting__icon path {
    fill: var(--white);
  }
}

@include mq(sp) {
  .icon-setting {
    --width: 4rem;
    --height: 4rem;
    --diagonal: 4rem;

    place-content: center center;
    border: 0.1rem solid var(--black);
    display: grid;
    height: var(--height);
    height: 4rem;
    justify-items: center;
    row-gap: 0;
    width: var(--width);
    width: 4rem;
  }

  .icon-setting__icon {
    height: 2.2rem;
    width: 2.2rem;
  }

  .icon-setting__text {
    display: none;
    font-size: 1rem;
  }

  .icon-setting--disable::before {
    background-color: var(--black);
    content: "";
    height: 0.1rem;
    left: 50%;
    position: absolute;
    rotate: 48deg;
    top: calc(50% - 0rem);
    translate: -50% -50%;
    width: var(--diagonal);
  }

  .icon-setting--disable::after {
    background-color: var(--black);
    content: "";
    height: 0.1rem;
    left: 50%;
    position: absolute;
    rotate: -48deg;
    top: calc(50% - 0rem);
    translate: -50% -50%;
    width: var(--diagonal);
  }
}
