@use "@/styles/mixin/mixins" as *;

.icon-setting {
  width: 7.2rem;
  height: 8rem;
  border: 0.1rem solid var(--black);
  display: grid;
  align-content: center;
  justify-items: center;
  justify-content: center;
  row-gap: 0.4rem;

  transition: 0.2s;
  background-size: 200%;
  background-position: 100% 50%;
  background-image: linear-gradient(90deg, var(--black) 50%, transparent 50%);
}

.icon-setting__icon {
  width: 4rem;
  height: 4rem;
}

.icon-setting__text {
  font-size: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .icon-setting:hover {
    cursor: pointer;

    background-size: 200%;
    background-position: 0% 50%;
    background-image: linear-gradient(90deg, var(--black) 50%, transparent 50%);
  }

  .icon-setting:hover .icon-setting__icon {
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
  }

  .icon-setting:hover .icon-setting__text {
    color: var(--white);
  }

  .icon-setting:hover .icon-setting__icon path {
    fill: var(--white);
  }
}

@include mq(sp) {
  .icon-setting {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid var(--black);
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    row-gap: 0rem;
  }

  .icon-setting__icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .icon-setting__text {
    font-size: 1rem;

    display: none;
  }
}
