@use "@/styles/mixin/mixins" as *;

.icon-user {
  width: 7.2rem;
  height: 8rem;
  border: 0.1rem solid var(--black);

  transition: 0.2s;
  background-size: 220%;
  background-position: 100% 50%;
  background-image: linear-gradient(90deg, var(--black) 50%, transparent 50%);
}

.icon-user.icon-user--is-login {
}

.icon-user.icon-user--is-login path {
  fill: var(--active);
}

@media (hover: hover) and (pointer: fine) {
  .icon-user:hover {
    cursor: pointer;

    background-position: 0% 50%;
    background-image: linear-gradient(90deg, var(--black) 50%, transparent 50%);
  }

  .icon-user:hover path {
    animation-name: waving;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  .icon-user:hover path:nth-child(2) {
    animation-name: waving;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 0.2s;
  }
}

@include mq(sp) {
  .icon-user {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid var(--black);
  }
}
