@use "./../mixin/" as *;

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes grid-move {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 50% calc(50% * 1);
  }
}

@keyframes text-loop {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -100% 0;
  }
}

@keyframes marquee {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -100% 0;
  }
}

@keyframes marquee-editor {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -100% 0;
  }
}

@keyframes marquee-editor-reverse {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 100% 0;
  }
}

@keyframes explanation-show {
  0% {
    opacity: 0;
    translate: -50% calc(-50% + 5rem);
  }
  100% {
    opacity: 1;
    translate: -50% -50%;
  }
}

@keyframes explanation-hide {
  0% {
    opacity: 1;
    translate: -50% -50%;
  }
  100% {
    opacity: 0;
    translate: -50% calc(-50% - 5rem);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes waving {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0.3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes arrow-move-left {
  0% {
    translate: 0% 0;
  }
  50% {
    translate: -5% 0;
  }
  100% {
    translate: 0% 0;
  }
}

@keyframes arrow-move-right {
  0% {
    translate: 0% 0;
  }
  50% {
    translate: 5% 0;
  }
  100% {
    translate: 0% 0;
  }
}

@keyframes blink {
  0% {
  }
  50% {
    opacity: 0;
  }
  100% {
  }
}

// @keyframes moveMask {
//   from {
//     mask-position: 100% 50%;
//   }
//   to {
//     mask-position: 0% 50%;
//   }
// }

@keyframes moveMask {
  0% {
    mask-position: 100% 50%;
  }
  20% {
    mask-position: 80% 50%;
  }
  40% {
    mask-position: 60% 50%;
  }
  60% {
    mask-position: 40% 50%;
  }
  80% {
    mask-position: 20% 50%;
  }
  100% {
    mask-position: 0% 50%;
  }
}

@keyframes text-background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes button-footer {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 0.2rem;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes twinkling-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinking-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
