@use "@/styles/mixin/mixins" as *;

.button-setting {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: center;
  padding: 1.8rem 2.4rem;
  column-gap: 0.8rem;
  cursor: pointer;
}

.button-setting__text {
  font-size: 2.4rem;
}

.button-setting__icon {
  display: grid;
}

.button-setting__icon svg {
  width: 2.2rem;
  height: 2.2rem;
}

.button-setting--new {
  background-color: var(--new);
}

.button-setting--delete {
  background-color: var(--danger);
}

.button-setting--random {
  border: 0.1rem solid var(--black);
  transition: 0.2s;
  position: relative;
  z-index: 0;
}

.button-setting__mask {
  background-color: var(--active);
  mask: url("/images/setting/mask.png");
  mask-size: 1200% 105%;
  mask-position: 100% 50%;
  mask-repeat: no-repeat;
  mask-mode: luminance;
  position: absolute;
  z-index: -1;
  inset: 0;
}

.button-setting-svg-filter {
  height: 0;
  width: 0;
}

@media (hover: hover) and (pointer: fine) {
  .button-setting--new {
    // background: linear-gradient(90deg, var(--new) 25%, #efff10, #bbff00, var(--new));
    // background-size: 800%;
    // background-position: 0% 50%;
  }

  .button-setting--new:hover {
    // animation-name: new-button-background;
    // animation-iteration-count: infinite;
    // animation-duration: 10s;
    // animation-timing-function: var(--linear);
    // filter: url(#color-change-filter);
    filter: url(#color-change-filter);
  }

  .button-setting--delete:hover {
    // animation-name: blinking-button-delete;
    animation-name: color-change;
    animation-iteration-count: infinite;
    // animation-duration: 0.01s;
    animation-duration: 0.01s;
    animation-timing-function: var(--linear);
  }

  .button-setting--random:hover {
    background-position: 0% 50%;
    border: 0.1rem solid var(--active);
  }

  .button-setting--random:hover .button-setting__mask {
    animation-name: moveMask;
    animation-duration: 0.3s;
    animation-timing-function: steps(5);
    animation-fill-mode: forwards;
  }
}

@include mq(sp) {
  .button-setting {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    padding: 1.4rem 1.6rem;
    column-gap: 0.4rem;
    cursor: pointer;
  }

  .button-setting__text {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .button-setting__icon {
    display: grid;
  }

  .button-setting__icon svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .button-setting--new {
    // background-color: var(--new);
    filter: url(#color-change-filter);
  }

  .button-setting--delete {
    background-color: var(--danger);
  }

  .button-setting--random {
    border: none;
    position: relative;
    background-color: var(--active);
    z-index: 0;
  }
}
