@use "@/styles/mixin/mixins" as *;

.marquee-editor {
  position: absolute;

  display: grid;
  grid-template-columns: repeat(6, auto);

  opacity: 0.4;
}

.marquee-editor--1 {
  z-index: 2;
  rotate: 7.9deg;
  top: calc(50% + 31rem);
  left: calc(50%);
  translate: -50% -50%;
}

.marquee-editor--2 {
  z-index: 1;
  rotate: -10deg;
  top: calc(50% + 0rem);
  left: calc(50%);
  translate: -50% -50%;
}

.marquee-editor__inner {
  display: grid;
  padding-right: 1.4rem;
  grid-template-columns: repeat(3, auto);
  column-gap: 0.4rem;
  justify-content: start;
  align-items: center;
}

.marquee-editor--1 .marquee-editor__inner {
  animation: marquee-editor-reverse 8s linear infinite;
}

.marquee-editor--2 .marquee-editor__inner {
  animation: marquee-editor 8s linear infinite;
}

.marquee-editor__text {
  font-size: 3.6rem;
  font-weight: 500;
  color: #a1a1a1;
}

.marquee-editor__icon {
  width: 7.2rem;
  aspect-ratio: 1/1;
}

.marquee-editor__icon img {
  object-fit: contain;
}

.marquee-editor__decoration {
  width: 15rem;
  aspect-ratio: 120/30;
}

.marquee-editor__decoration img {
  object-fit: contain;
}

@include mq(sp) {
  .marquee-editor {
    position: absolute;

    display: grid;
    grid-template-columns: repeat(6, auto);

    opacity: 0.4;
  }

  .marquee-editor--1 {
    z-index: 2;
    rotate: 7.9deg;
    top: calc(50% + 31rem);
    left: calc(50%);
    translate: -50% -50%;
  }

  .marquee-editor--2 {
    z-index: 1;
    rotate: -10deg;
    top: calc(50% + 0rem);
    left: calc(50%);
    translate: -50% -50%;
  }

  .marquee-editor__inner {
    display: grid;
    padding-right: 1.3rem;
    grid-template-columns: repeat(3, auto);
    column-gap: 0.4rem;
    justify-content: start;
    align-items: center;
  }

  .marquee-editor--1 .marquee-editor__inner {
    animation: marquee-editor-reverse 8s linear infinite;
  }

  .marquee-editor--2 .marquee-editor__inner {
    animation: marquee-editor 8s linear infinite;
  }

  .marquee-editor__text {
    font-size: 2.4rem;
    font-weight: 500;
    color: #a1a1a1;
  }

  .marquee-editor__icon {
    width: 4rem;
    aspect-ratio: 1/1;
  }

  .marquee-editor__icon img {
    object-fit: contain;
  }

  .marquee-editor__decoration {
    width: 9.1rem;
    aspect-ratio: 120/30;
  }

  .marquee-editor__decoration img {
    object-fit: contain;
  }
}
