@use "@/styles/mixin/mixins" as *;

.marquee-editor {
  display: grid;
  grid-template-columns: repeat(6, auto);
  opacity: 0.4;
  position: absolute;
}

.marquee-editor--1 {
  left: calc(50%);
  rotate: 7.9deg;
  top: calc(50% + 31rem);
  translate: -50% -50%;
  z-index: 2;
}

.marquee-editor--2 {
  left: calc(50%);
  rotate: -10deg;
  top: calc(50% + 0rem);
  translate: -50% -50%;
  z-index: 1;
}

.marquee-editor__inner {
  align-items: center;
  column-gap: 0.4rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  padding-right: 1.4rem;
}

.marquee-editor--1 .marquee-editor__inner {
  animation: marquee-editor-reverse 8s linear infinite;
}

.marquee-editor--2 .marquee-editor__inner {
  animation: marquee-editor 8s linear infinite;
}

.marquee-editor__text {
  color: #a1a1a1;
  font-size: 3.6rem;
  font-weight: 500;
}

.marquee-editor__icon {
  aspect-ratio: 1/1;
  width: 7.2rem;
}

.marquee-editor__icon img {
  object-fit: contain;
}

.marquee-editor__decoration {
  aspect-ratio: 120/30;
  width: 15rem;
}

.marquee-editor__decoration img {
  object-fit: contain;
}

@include mq(sp) {
  .marquee-editor {
    display: grid;
    grid-template-columns: repeat(6, auto);
    opacity: 0.4;
    position: absolute;
  }

  .marquee-editor--1 {
    left: calc(50%);
    rotate: 7.9deg;
    top: calc(50% + 31rem);
    translate: -50% -50%;
    z-index: 2;
  }

  .marquee-editor--2 {
    left: calc(50%);
    rotate: -10deg;
    top: calc(50% + 0rem);
    translate: -50% -50%;
    z-index: 1;
  }

  .marquee-editor__inner {
    align-items: center;
    column-gap: 0.4rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    padding-right: 1.3rem;
  }

  .marquee-editor--1 .marquee-editor__inner {
    animation: marquee-editor-reverse 8s linear infinite;
  }

  .marquee-editor--2 .marquee-editor__inner {
    animation: marquee-editor 8s linear infinite;
  }

  .marquee-editor__text {
    color: #a1a1a1;
    font-size: 2.4rem;
    font-weight: 500;
  }

  .marquee-editor__icon {
    aspect-ratio: 1/1;
    width: 4rem;
  }

  .marquee-editor__icon img {
    object-fit: contain;
  }

  .marquee-editor__decoration {
    aspect-ratio: 120/30;
    width: 9.1rem;
  }

  .marquee-editor__decoration img {
    object-fit: contain;
  }
}
