@use "@/styles/mixin/mixins" as *;

.bg-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-bg-grid);
}

.bg-grid__image {
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-name: grid-move;
  animation-timing-function: linear;
  aspect-ratio: 1.5052/1;
  background-image: url("/images/layout/bg-grid.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  translate: 0% 0%;
  width: 400%;
}

@include mq(sp) {
  .bg-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-index-bg-grid);
  }

  .bg-grid__image {
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-name: grid-move;
    animation-timing-function: linear;
    aspect-ratio: 0.999/1;
    background-image: url("/images/layout/bg-grid-sp.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    translate: 0% 0%;
    width: 400%;
  }
}
