@use "@/styles/mixin/mixins" as *;

.virtual-grid {
  inset: 0;
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  z-index: var(--z-index-virtual-grid);
}

@include mq(sp) {
  .virtual-grid {
    inset: 0;
    left: 0;
    position: fixed;
    top: 0;
    user-select: none;
    z-index: var(--z-index-virtual-grid);
  }
}
