@use "@/styles/mixin/mixins" as *;

.project {
  --z-project: 0;

  display: grid;
  row-gap: 3.2rem;
}

.project__row {
  align-items: center;
  column-gap: 1.6rem;
  display: grid;
  grid-template-columns: 7.2rem 1fr;
}

.project__label {
  font-size: text(16);
  font-weight: 500;
  letter-spacing: 0.15em;
}

.project__content {
  -webkit-box-orient: vertical;
  font-size: text(16);
  font-weight: 400;
  letter-spacing: 0.15em;
  -webkit-line-clamp: 2;
  max-height: 2lh;
  min-height: 1lh;
  resize: vertical;
  text-overflow: ellipsis;
}

@include mq(sp) {
  .project {
    --z-project: 0;

    display: grid;
    row-gap: 1.4rem;
  }

  .project__row {
    align-items: center;
    column-gap: 1.6rem;
    display: grid;
    grid-template-columns: 7.2rem 1fr;
  }

  .project__label {
    font-size: text(14);
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  .project__content {
    -webkit-box-orient: vertical;
    font-size: text(14);
    font-weight: 400;
    letter-spacing: 0.15em;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  }
}
