@use "@/styles/mixin/mixins" as *;

.window-save {
  --z-window-save: 0;
  --z-window-save__inner: 10;
  --z-window-save__corner: 1;
  --z-window-save__button: 5;
  --z-window-save__marquee: 0;
  --z-window-save__overlay: -1;

  width: calc(var(--col) * 9 + var(--gap) * 8 + calc(var(--margin) * 1));
  right: 0;
  position: absolute;
  z-index: var(--z-window-save);
  background-color: red;
  translate: 100% 0;
  height: 100svh;

  background-color: var(--ui-background);

  transition-property: translate;
  transition-duration: 0.2s;

  pointer-events: auto;
}

.window-save--is-open {
  translate: 0 0;
}

.window-save__toggle {
  position: absolute;
  z-index: var(--z-window-save__button);
  top: 50%;
  left: 0;
  rotate: -90deg;
  translate: calc(-8.3rem) -50%;

  user-select: none;
  cursor: pointer;
}

.window-save__toggle--is-open {
  translate: -4rem -50%;
}

.window-save__inner {
  position: relative;
  z-index: var(--z-window-save__inner);
  margin-inline: auto;
  width: cols(7);
  display: grid;
  height: 100svh;
  align-content: center;
  row-gap: 3.2rem;
}

.window-save__corner {
  position: absolute;
  z-index: var(--z-window-save__corner);
  top: 0.8rem;
  left: 0.8rem;
  display: grid;
}

.window-save__corner svg {
  width: 4rem;
  height: 4rem;
}

.window-save__marquee {
  position: absolute;
  z-index: var(--z-window-save__marquee);
  inset: 0;
  overflow: hidden;
}

.window-save__overlay {
  position: fixed;
  z-index: -1;
  inset: 0;
}

.window-save__overlay--is-open {
  background-color: var(--overlay);
  pointer-events: auto;
}

@include mq(sp) {
  .window-save {
    --z-window-save: 0;
    --z-window-save__inner: 10;
    --z-window-save__corner: 1;
    --z-window-save__button: 15;
    --z-window-save__marquee: 0;

    width: 100%;
    right: auto;
    bottom: 0;
    position: fixed;
    z-index: var(--z-window-save);
    translate: 100% 0;
    height: auto;
    min-height: 20rem;

    background-color: var(--ui-background);

    transition-property: translate;
    transition-duration: 0.2s;

    pointer-events: auto;
  }

  .window-save--is-open {
    translate: 0 0;
  }

  .window-save__toggle {
    position: absolute;
    z-index: var(--z-window-save__button);
    top: 50%;
    left: 0;
    rotate: -90deg;
    translate: -6rem -50%;

    user-select: none;
    cursor: pointer;
  }

  .window-save__toggle--is-open {
    translate: -2rem -50%;
  }

  .window-save__inner {
    position: relative;
    z-index: var(--z-window-save__inner);
    margin-inline: 0;
    margin-left: calc(var(--col) * 1 + var(--margin) * 1 + calc(var(--gap) * 1));
    width: cols(7);
    display: grid;
    height: auto;
    align-content: center;
    row-gap: 2.8rem;

    padding-block: 3.2rem;
  }

  .window-save__corner {
    position: absolute;
    z-index: var(--z-window-save__corner);
    top: 0.4rem;
    left: 0.4rem;
    display: grid;
  }

  .window-save__corner svg {
    width: 1.4rem;
    height: 1.4rem;
  }

  .window-save__marquee {
    position: absolute;
    z-index: var(--z-window-save__marquee);
    inset: 0;
    overflow: hidden;
  }

  .window-save__overlay {
    position: fixed;
    z-index: -1;
    inset: 0;
  }

  .window-save__overlay--is-open {
    background-color: var(--overlay);
    pointer-events: auto;
  }
}
