@use "@/styles/mixin/mixins" as *;

.window-save {
  --z-window-save: 0;
  --z-window-save__inner: 10;
  --z-window-save__corner: 1;
  --z-window-save__button: 5;
  --z-window-save__marquee: 0;
  --z-window-save__overlay: -1;

  background-color: red;
  background-color: var(--ui-background);
  height: 100svh;
  pointer-events: auto;
  position: absolute;
  right: 0;
  transition-duration: 0.2s;
  transition-property: translate;
  translate: 100% 0;
  width: calc(var(--col) * 9 + var(--gap) * 8 + calc(var(--margin) * 1));
  z-index: var(--z-window-save);
}

.window-save--alert::after {
  background-color: var(--inactive);
  content: "";
  inset: 0;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  z-index: 10;
}

.window-save--is-open {
  translate: 0 0;
}

.window-save__toggle {
  cursor: pointer;
  left: 0;
  position: absolute;
  rotate: -90deg;
  top: 50%;
  translate: calc(-8.3rem) -50%;
  user-select: none;
  z-index: var(--z-window-save__button);
}

.window-save__toggle--is-open {
  translate: -4rem -50%;
}

.window-save__inner {
  align-content: center;
  display: grid;
  height: 100svh;
  margin-inline: auto;
  position: relative;
  row-gap: 3.2rem;
  width: cols(7);
  z-index: var(--z-window-save__inner);
}

.window-save__corner {
  display: grid;
  left: 0.8rem;
  position: absolute;
  top: 0.8rem;
  z-index: var(--z-window-save__corner);
}

.window-save__corner svg {
  height: 4rem;
  width: 4rem;
}

.window-save__marquee {
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: var(--z-window-save__marquee);
}

.window-save__overlay {
  inset: 0;
  position: fixed;
  z-index: -1;
}

.window-save__overlay--is-open {
  background-color: var(--overlay);
  pointer-events: auto;
}

.window-save__alert {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: blinking-text;
  color: var(--danger);
  font-size: text(24);
  font-weight: 500;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  z-index: 20;
}

@include mq(sp) {
  .window-save {
    --z-window-save: 0;
    --z-window-save__inner: 10;
    --z-window-save__corner: 1;
    --z-window-save__button: 15;
    --z-window-save__marquee: 0;

    background-color: var(--ui-background);
    bottom: 0;
    height: auto;
    min-height: 20rem;
    pointer-events: auto;
    position: fixed;
    right: auto;
    transition-duration: 0.2s;
    transition-property: translate;
    translate: 100% 0;
    width: 100%;
    z-index: var(--z-window-save);
  }

  .window-save--is-open {
    translate: 0 0;
  }

  .window-save__toggle {
    cursor: pointer;
    left: 0;
    position: absolute;
    rotate: -90deg;
    top: 50%;
    translate: -6rem -50%;
    user-select: none;
    z-index: var(--z-window-save__button);
  }

  .window-save__toggle--is-open {
    translate: -2rem -50%;
  }

  .window-save__inner {
    align-content: center;
    display: grid;
    height: auto;
    margin-inline: 0;
    margin-left: calc(var(--col) * 1 + var(--margin) * 1 + calc(var(--gap) * 1));
    padding-block: 3.2rem;
    position: relative;
    row-gap: 2.8rem;
    width: cols(7);
    z-index: var(--z-window-save__inner);
  }

  .window-save__corner {
    display: grid;
    left: 0.4rem;
    position: absolute;
    top: 0.4rem;
    z-index: var(--z-window-save__corner);
  }

  .window-save__corner svg {
    height: 1.4rem;
    width: 1.4rem;
  }

  .window-save__marquee {
    inset: 0;
    overflow: hidden;
    position: absolute;
    z-index: var(--z-window-save__marquee);
  }

  .window-save__overlay {
    inset: 0;
    position: fixed;
    z-index: -1;
  }

  .window-save__overlay--is-open {
    background-color: var(--overlay);
    pointer-events: auto;
  }
}
