@use "@/styles/mixin/mixins" as *;

.login-form {
}

.login-form__inner {
  display: grid;
  row-gap: 6.4rem;
}

.login-form__header {
  display: grid;
  justify-items: center;
}

.login-form__title {
  font-size: text(32);
}

.login-form__form {
  display: grid;
  row-gap: 5rem;
}

.login-form__buttons {
  > * + * {
    margin-top: 3.2rem;
  }
}

@include mq(sp) {
  .login-form {
  }

  .login-form__inner {
    display: grid;
    row-gap: 3.2rem;
  }

  .login-form__header {
    display: grid;
    justify-items: center;
  }

  .login-form__title {
    font-size: text(20);
  }

  .login-form__buttons {
    > * + * {
      margin-top: 2rem;
    }
  }

  .login-form__form {
    display: grid;
    row-gap: 3.2rem;
  }
}
