@use "@/styles/mixin/mixins" as *;

.auth-form {
  display: grid;
  row-gap: 2.4rem;
}

.auth-form__input {
  background-color: var(--form-cell);
  padding: 1rem;
}

.auth-form__error-message {
  color: var(--danger);
  font-size: text(18);
}

.auth-form__error-message.auth-form__error-message--input {
  font-size: text(14);
}

.auth-form__field input {
  width: 100%;
}

@include mq(sp) {
  .auth-form {
    display: grid;
    row-gap: 2rem;
  }

  .auth-form__input {
    background-color: var(--form-cell);
    padding: 0.8rem;
  }

  .auth-form__error-message {
    color: var(--danger);
    font-size: text(16);
  }
}
