@use "@/styles/mixin/mixins" as *;

.button-save {
  background-color: var(--active);
  display: grid;
  justify-items: center;
  padding-block: 1.8rem;
  padding-inline: 2.4rem;
  width: cols(7);
}

.button-save__text {
  font-size: text(24);
  font-weight: 500;
  letter-spacing: 0.15em;
}

@include mq(sp) {
  .button-save {
    background-color: var(--active);
    display: grid;
    justify-items: center;
    padding-block: 1.4rem;
    padding-inline: 1.6rem;
    width: cols(7);
  }

  .button-save__text {
    font-size: text(16);
    font-weight: 500;
    letter-spacing: 0.15em;
  }
}
