@use "@/styles/mixin/mixins" as *;

.toggle-color-picker {
  align-items: center;
  background-color: transparent;
  column-gap: 0.8rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  width: cols(2.4);
}

.toggle-color-picker__text {
  font-size: text(16);
  font-weight: 500;
  letter-spacing: 0.15em;
}

.toggle-color-picker__icon {
  display: grid;
}

.toggle-color-picker__icon svg {
  height: 1.6rem;
  width: 2.4rem;
}

@include mq(sp) {
  .toggle-color-picker {
    align-items: center;
    column-gap: 0.4rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 0.4rem 0.2rem;
    width: cols(2.4);
  }

  .toggle-color-picker--close {
    background-color: transparent;
  }

  .toggle-color-picker__text {
    font-size: text(14);
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  .toggle-color-picker__icon {
    display: grid;
  }

  .toggle-color-picker__icon svg {
    height: 0.8rem;
    width: 1.4rem;
  }
}
