@use "@/styles/mixin/mixins" as *;

.explanation {
  display: grid;
  grid-template-columns: 1fr calc(var(--col) * 0.5);
  opacity: 0;
  padding-block: 2.4rem;
  padding-left: 1.6rem;
  padding-right: 2.4rem;
  pointer-events: none;
  position: absolute;
  translate: -50% -50%;
  user-select: none;
  width: cols(8);
  z-index: 0;
}

.explanation--is-active {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: explanation-show;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
}

.explanation--inactive {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: explanation-hide;
}

.explanation__text {
  font-size: text(16);
  font-weight: 500;
}

.explanation__icon {
  display: grid;
  height: 2.5rem;
  justify-self: center;
  width: 1.8rem;
}

.explanation__bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.explanation__bg img {
  object-fit: contain;
}

@include mq(sp) {
  .explanation {
    display: grid;
    grid-template-columns: 1fr calc(var(--col) * 0.5);
    left: 50%;
    opacity: 0;
    padding-block: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    pointer-events: none;
    position: absolute;
    translate: -50% 0;
    width: cols(5.2);
    z-index: 1;
  }

  .explanation--is-active {
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
    z-index: 10;
  }

  .explanation__text {
    font-size: text(12);
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  .explanation__icon {
    display: grid;
    height: 1.6rem;
    justify-self: center;
    width: 1.2rem;
  }

  .explanation__bg {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .explanation__bg img {
    object-fit: contain;
  }
}
