@use "@/styles/mixin/mixins" as *;

.archive {
  padding-bottom: 10rem;
  padding-inline: calc(var(--col) * 1 + var(--gap) * 1 + var(--margin) * 1);
  padding-top: 13rem;
}

.archive__inner {
  border-right: 0.2rem solid var(--black);
  position: relative;
  z-index: 0;
}

.archive__header {
  padding-bottom: 2.75rem;
  padding-inline: calc(var(--col) * 1 + var(--gap) * 1);
  padding-top: 2.4rem;
  position: relative;
  z-index: 0;
}

.archive__heading {
  font-size: text(48);
  font-weight: 400;
  line-height: 1;
}

.archive__frame {
  display: grid;
  left: 0;
  position: absolute;
  top: 0;
}

.archive__frame svg {
  height: 10.1rem;
  width: calc(100% + 0.15rem);
}

.archive__body {
  border-bottom: 0.2rem solid var(--black);

  // border-right: 0.2rem solid var(--black);
  border-left: 0.2rem solid var(--black);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding-bottom: 10rem;
  padding-inline: calc(var(--col) * 1 + var(--gap) * 1);
  padding-top: 3.2rem;
  row-gap: 2.4rem;
}

.archive__pagination {
  bottom: 2.4rem;
  display: grid;
  justify-items: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}

.archive__footer {
  bottom: 0;
  display: grid;
  justify-items: center;
  left: 0;
  padding-bottom: 3.2rem;
  position: fixed;
  width: 100%;
  z-index: var(--z-editor__footer);
}

@include mq(sp) {
  .archive {
    padding-bottom: 8rem;
    padding-inline: calc(var(--margin) * 1);
    padding-top: 8rem;
  }

  .archive__inner {
    // border-right: 0.2rem solid var(--black)
    border: none;
  }

  .archive__header {
    // padding-top: 2.4rem;
    // padding-bottom: 2.75rem;
    padding: 0;

    // padding-inline: calc(var(--col) * 1 + var(--gap) * 1);
    padding-inline: 0;
    position: relative;
    z-index: 0;
  }

  .archive__heading {
    font-size: text(24);
    font-weight: 400;
    line-height: 1;
  }

  .archive__frame {
    display: none;
    left: 0;
    position: absolute;

    // display: grid;
    top: 0;
  }

  .archive__frame svg {
    // width: calc(100% + 0.15rem);
    // height: 10.1rem;
  }

  .archive__body {
    // border-left: 0.2rem solid var(--black);
    // border-bottom: 0.2rem solid var(--black);
    border: none;
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    padding-bottom: 5rem;

    // padding-inline: calc(var(--col) * 1 + var(--gap) * 1);
    padding-inline: 0;
    padding-top: 2.4rem;
    row-gap: 0.8rem;
  }

  .archive__pagination {
    bottom: 1.4rem;
    display: grid;
    justify-items: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
  }

  .archive__footer {
    bottom: 0;
    display: grid;
    justify-items: center;
    left: 0;
    padding-bottom: 3.2rem;
    position: fixed;
    width: 100%;
    z-index: var(--z-editor__footer);
  }
}
