@use "@/styles/mixin/mixins" as *;

.button-archive-delete {
  font-size: text(14);
  padding-block: 0.2rem;
  background-color: var(--danger);
  text-align: center;
  pointer-events: auto;
  border-radius: 0.2rem;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.button-archive-delete--disabled {
  opacity: 1;
  pointer-events: none;
  background-color: var(--active);
}
